name: Deploy Observabilidade e Validações

on:
  workflow_dispatch: 

jobs:

  deploy:
    name: Deploy no Kubernetes
    runs-on: ubuntu-latest

    steps:

    - name: Checkout
      uses: actions/checkout@v4

    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GCP_SA_JSON }}

    - name: Setup gcloud
      uses: google-github-actions/setup-gcloud@v2

    - name: GKE Credentials
      run: |
        gcloud container clusters get-credentials devops-challenge-cluster \
          --zone us-central1-a \
          --project atividade-devops-walax

    - name: Deploy Grafana Dashboards
      run: |
        kubectl apply -f monitoring/dashboards/

    - name: Deploy Prometheus Alertas
      run: |
        kubectl apply -f monitoring/alerts/

    - name: Deploy Loki Datasource + Dashboard
      run: |
        kubectl apply -f monitoring/loki/

    - name: Secret
      run: |
        kubectl apply -f vault/secret-example.yaml

    - name: Health Check
      run: |
        bash health/health-check.sh
